name: Auto Merge l10n

on:
  pull_request:
    types: [opened, synchronize]
    branches: [master]

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    if: startsWith(github.head_ref, 'l10n_')
    runs-on: ubuntu-latest
    steps:
      - name: Auto merge l10n PR
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.pulls.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              merge_method: 'squash'
            });
